* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #E8E6E3;
    --color-black-light:  #181A1B;
}

html {
    font-size: 62.5%;
    font-family: "Sedan", serif;
    font-style: normal;
    scroll-behavior: smooth;
    color: var(--color-white);
    background-color: var(--color-black-light);
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-white);
}

.header__profile-container {
    display: flex;                      /* Enable Flexbox layout */
    flex-direction: column;             /* Arrange children in a column */
    align-items: center;                /* Center items horizontally */
    width: 50%;                         /* Maintain set width */
    margin-top: 30px;                  /* Keep the margin on top */
    border: 1px solid var(--color-white); /* Optional: Keep the border */
}

.header__profile-name {
    font-size: 1.6rem;
}

.header__profile-image {
    margin-top: 40px;
    max-height: 100px;
    border-radius: 30px;
}

.header__social-container {
    width: 50%;
    background-color: var(--color-white);
    margin-top: 20px;
    border-radius: 30px;
}

.header__social-container--list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__social-item {
    margin-left: 10px;
}

.header__social-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__social-icon:hover {
    transform: scale(1.15);
}  

.header__social-icon:active {
    background-color: var(--color-white); 
    transform: scale(0.85); 
}

.header__social-icon--twitter {
    background-image: url(assets/icons/x-logo.svg);
}

.header__social-icon--threads {
    background-image: url(assets/icons/threads.svg);
}

.header__social-icon--linkedin {
    background-image: url(assets/icons/linkedin-logo.svg);
}

.header__social-icon--github {
    background-image: url(assets/icons/github-icon.svg);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    border: 1px solid var(--color-white);
}

.bio__title {
    margin: 20px;
    font-size: 1.6rem;
    text-align: justify;
}

.bio__text {
    margin: 20px;
    text-align: justify;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.language-switcher {

    margin-top: 10px;
    border-radius: 30px;
}

.language-switcher__icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.language-switcher__icon--english {
    background-image: url(assets/icons/english-icon.png);
}

/* You may want to add a Spanish icon as well */
.language-switcher__icon--spanish {
    background-image: url(assets/icons/spanish-icon.svg);
}